:root{
    --HeaderHeight: 80px;
    --toolBarHeight: 80px;
    --sidePadWidth: 80px;
    --rightPadWidth: 80px;
    --toolBarHidePercentage: 65%;
    --sideBarHidePercentage: -65%;
    --rightBarHidePercentage: 65%;
    --toolBarColor: rgb(53, 129,82);
    --chatBoxSize: 200px
}

.containerClassroomPage{
    width: 100vw;
    height: 100vh;
}

/* Header */

.containerHeader{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header{
    height: var(--HeaderHeight);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(68, 68, 68, 0.5) 2px 2px 8px 2px;
    background-color: rgba(0, 128, 0, 0.2);
}

.heading{
    font-size: 25px;
    font-weight: bold;
    height:30px;
}

/* Chat */

.containerChatBox{
    width: var(--chatBoxSize);
    height: calc(1.5 * var(--chatBoxSize));

    background-color: rgb(197, 255, 197);
    border: 2px solid rgb(0, 107, 0);

    box-shadow: rgba(68, 68, 68, 0.5) 2px 2px 8px 2px;

    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    left: 100px;
    top: 100px;
}

.inputContainer{
    padding: 2px 5px;
    display: flex;
    align-items: center;
    background-color: rgb(0, 107, 0);
    justify-content: space-evenly;
}

.inputContainer input {
    margin: 1px;
    padding: 4px;
    width: 70%;
    border: 1px solid black;
    border-radius: 4px;
}

.inputContainer button {
    margin: 1px;
    padding: 4px;
    width: 25%;
    border: 1px solid black;
    border-radius: 4px;
}

/* Footer */
.containerToolPad{

    position: absolute;
    width: 100%;
    top: calc(100vh - var(--toolBarHeight));
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* Tool Pad */
.ToolPadBackground{
    width: 55%;
    height: var(--toolBarHeight);
    background-color: var(--toolBarColor);
    border-radius: 20px;
    box-shadow: rgba(68, 68, 68, 0.5) 2px 2px 8px 2px;
    font-size: var(--toolBarHeight);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ToolPadBackground:not(:hover){
    transform: translate(0, var(--toolBarHidePercentage));
    transition: transform 300ms;
}

.ToolPadBackground:hover{
    transform: translate(0, 0);
    transition: transform 300ms;
}

.colorPalleteContainer{
    height: calc(var(--toolBarHeight) * .8);
    width: calc(var(--toolBarHeight) * 1.2);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.colorPallete{
    height: calc(var(--toolBarHeight) * 0.35);
    width: calc(var(--toolBarHeight) * 0.35);
    border: 1px solid var(--toolBarColor);
    border-radius: calc(var(--toolBarHeight) * 0.175);

    box-shadow: rgba(24, 24, 24, 0.5) 0px 0px 6px 1px inset;

    margin: auto;
}

#black{
    background-color: rgb(43, 43, 43);
}

#green{
    background-color: lime;
}

#blue{
    background-color: blue;
}

#white{
    background-color: white;
}

#yellow{
    background-color: yellow;
}

#red{
    background-color: red;
}

.icon{
    flex-basis: 1;
}

/* Transition */
.border-enter{
    border: none;
}

.border-enter-active{
    border: 1px solid white;
    transition: border 300ms; 
}

.border-enter-done{
    border: 1px solid white;
}

.containerSidePad{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Side Pad */
.sidePadBackground{
    width: var(--sidePadWidth);
    height: 50%;
    background-color: var(--toolBarColor);
    border-radius: 20px;
    box-shadow: rgba(68, 68, 68, 0.5) 2px 2px 8px 2px;
    font-size: var(--sidePadWidth);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.sidePadBackground:not(:hover){
    transform: translate(var(--sideBarHidePercentage), 0);
    transition: transform 300ms;
}

.sidePadBackground:hover{
    transform: translate(0, 0);
    transition: transform 300ms;
}

/* Right pad */

.containerRightPad{
    position: absolute;
    left: calc(100% - var(--rightPadWidth));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightPadBackground{
    width: var(--rightPadWidth);
    height: 40%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 20px 0px 0px 20px;
    box-shadow: rgba(68, 68, 68, 0.5) 2px 2px 8px 2px;
    border: 2px solid white;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--rightPadWidth);
}

.rightPadBackground:not(:hover){
    transform: translate(var(--rightBarHidePercentage), 0);
    transition: transform 300ms;
}

.rightPadBackground:hover{
    transform: translate(0, 0);
    transition: transform 300ms;
}

.routButton{
    width: calc(var(--rightPadWidth) * 0.45);
    height: calc(var(--rightPadWidth) * 0.45);
    border-radius: 50%;
    border: none
}

/* Board */
.boardContainer{
    position: absolute;

    background-color: white;
    z-index: -2;
}