.classContainer{
    width: 100vw;
    height: auto;
    background-color: rgb(235, 255, 233);
}

:root{
    --navHeight: 100px;
    --navColor: rgb(1, 80, 36);
    --navTabClickedColor: rgb(4, 153, 71);
}

/* Nav bar */
.classNav{
    width: 100%;
    height: var(--navHeight);
    background-color: var(--navColor);
    display: flex;
    position: fixed;
    z-index: 1;
    align-items: flex-end;
    box-shadow: rgba(102, 102, 102, 0.5) 0px 2px 4px 2px;
}

.navTab{
    height: 50%;
    width: 50%;
    background-color: var(--navColor);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: rgb(112, 144, 129);
    font-weight: bold;
}

.navTab:hover{
    color: white;
    transition: color 200ms, background-color 200ms;
}

/* Tab transition */
.navTabTransition-enter-active{
    background-color: var(--navTabClickedColor);
    color: white;
    transition: background-color 200ms;
}

.navTabTransition-enter-done{
    background-color: var(--navTabClickedColor);
    color: white;
}

/* Card */
.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.classCard{
    width: 28vw;
    height: 30vh;

    margin: 55px auto;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;

    font-size: 40px;
}

.classCard:hover{
    transform: scale(1.1);
    transition: transform 300ms;
}

.classCard:not(:hover){
    transform: scale(1);
    transition: transform 300ms;
}

