.resourceContainer{
    background-color: rgb(255, 205, 111);
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.resourceCard{
    width: 28vw;
    height: 80vh;

    margin: 55px auto;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;

    font-size: 40px;
}

.resourceCard ol{
    font-size: 0.5em;
    text-align: left;
    margin-left: 25px;
}
