.addFormContainer{
    width: 100vw;
    height: 100vh;

    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0px;
    top: 0px;
}

.addForm{
    min-height: 50%;
    width: 500px;
    background-color: white;
    box-shadow: 0px 2px 8px 2px rgba(128, 128, 128, 0.5);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.addForm input{
    margin-bottom: 10px;
    padding: 4px 8px;
    font-size: 18px;
}

.addForm button{
    margin: 10px auto;
    width: 50%;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 8px;
}