.resourceContainer{
    background-color: rgb(255, 205, 111);
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.resourceCard{
    width: 28vw;

    margin: 55px auto;

    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    justify-content: center;

    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;

    font-size: 40px;
}
