.video-conference{
    border: rgb(0, 50, 126) solid 3px;
    border-radius: 8px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;
  }
  
  .video{
    width: 240px;
    height: 150px;
    background-color: rgb(94, 94, 94);
    border-radius: 4px 4px 0px 0px;
    box-shadow: rgba(24, 24, 24, 0.5) 0px 0px 6px 1px inset;
  }
  
  .btns {
    display:flex;
    background-color:rgb(0, 50, 126);
    height: 46px;
    justify-content: space-around;
  }
  
  .sepBtn{
  
    width: 60px;
  
    text-align: center;
    color: white;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: blue;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;
    border-radius: 30px;
    margin: 10px 0px;
  }
  
  .main{
    background-color: #ddeef0;
  }
  
  .vhalf{
    min-height: 42vh;
  }
  
  hr{
    margin: 0px 24px;
    border-top: 2px solid rgb(83, 83, 83);
    border-radius: 5px;
  }
  
  .question{
    padding: 2% 8%;
    
  }
  
  .submission{
    padding: 4% 8%;
    text-align: center;
  }
  
  .paperHeading{
    padding: 8px;
    background-color: rgb(0, 92, 231);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .paperContent{
    font-size: 20px;
    color: white;
    font-weight: 600;
    background-color: rgb(0, 92, 231);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px;
  
    margin-top: 30px;
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .divider{
    width: 95%;
    border: 2px solid white;
    margin: 10px 0px;
  }
  
  .paperContent ol{
    padding: 0px 25px;
  }
  
  .answerText{
    width: 100%;
    height: 32vh;
  }
  
  .submitBtn{
    margin: 8px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }